<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", "#" %></li>
			<li><%= link_to "Contact", "#" %></li>
			<li><a href="http://news.railstutorial.org/" target="_blank">News</a></li>
			<li><a href="http://www.railstutorial.org/" target="_blank">Rails Tutorial</a></li>
		</ul>
	</nav>
</footer>
